
h1{
    text-align: center;
}
table,
th,
td {
  border: 1px solid #e7e7e7;
}

th,
td {
    padding: 15px;
}

.project {
  background-color: #131842;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
}

.color {
  color: aliceblue;
  display: flex;
  flex-direction: row;
}