.container {
    width: 575px;
    height: 825px;
  
    background-color: #F1EAFF;
    padding-left: 30px;
  }
  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
  }
  
  #weight-guide {
    margin-top: 35px;
  }
  
  #results {
    font-size: 35px;
    margin-top: 20px;
    color: rgb(42, 12, 81);
  }
  
  /* .button{
    display: flex;
    justify-content: center;
    align-content: center;
  } */
  button {
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #240750;
    border-radius: 8px;
    color: #ffff;
    text-decoration: none;
    border: 2px solid #4c1998;
    font-size: 25px;
  }
  
  h1 {
    padding-left: 15px;
    padding-top: 25px;
    
  }
  